@import "./_normalize.css";
@import "./_vars.css";

@lost flexbox flex;

body{
	font-size: 16px;
	color: var(--textColor);
background: -webkit-linear-gradient(rgba(196,241,255,1) 0%, rgba(229,229,229,0) 100%);
background: -o-linear-gradient(rgba(196,241,255,1) 0%, rgba(229,229,229,0) 100%);
background: linear-gradient(rgba(196,241,255,1) 0%, rgba(229,229,229,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4f1ff', endColorstr='#00e5e5e5',GradientType=0 );
	background-repeat: no-repeat;
	background-position: top center;
	font-family: 'Roboto';

}

a{
	text-decoration: none;
}


/**
* HEADER 
**/

.header{
	&-container{
		&-logo{
			
			@media(--desktop){
				lost-column:1/5;
			}
		}

		@media (--desktop){
			lost-center:1148px;
		}

		&-menu{
			@media(--desktop){
				lost-column:4/5;
			}
			&-mainnav{
				text-align: right;
				margin-top: 3.5rem;
				& ul{
					padding-left: 0;
				}
				&-item{
					display: inline-block;
					vertical-align: top;
					/*margin-left: 1rem;*/
					& a{
						color: var(--textColor);
						display: block;
						font-size: 18px;
						padding: .5rem 1rem;
						&:hover{
							color: var(--blue);
							font-weight: bold;
						}
					}

					
					&--enroll{
						margin-left: 2rem;
						background-color: var(--yellow);
						border-radius: 20px;
						font-weight: bold;
						text-align: center;
						& a{
							color:white;
							width:90px;
						}
					}
					&--pay{
						background-color: var(--blue);
						border-radius: 20px;
						font-weight: bold;
						text-align: center;
						margin-left: 1rem;
						& a{
							color:white;
							width: 90px;
						}
					}
					

				}
			}
		}
	}
}

/*
*	MAIN CONTAINER
*/

.main{
	&__container{
		@media (--desktop){
			lost-center:1148px no-flex;
		}
	}
	&__headline{
		font-family: 'Roboto Slab';
		&two{
			font-family: 'Gochi Hand';	
		}
	}

	&__board{
		lost-center:100%;
		
		&slider{
			lost-column:1/1;
			box-sizing: border-box;
			@media (--desktop){
				lost-column:1/2;
			}
		}

		&newsboard{
			lost-column:1/1;
			@media (--desktop){
				lost-column:1/2;
			}	
		}
	}

	&__homeicons{
		lost-center:100%;
	}
	&__icon{
		lost-column: 1/1;
		
		@media (--tablet){
			lost-column:1/2;
		}
		@media (--desktop){
			lost-column:1/4;
		}
	}
	&__img{
		max-width: 100%;
		height: auto;
	}
	&__boardnewsboard{
		background-image: url(../images/news-board-background.png);
	}

	/*Modifiers*/
	&--center{
		text-align: center;
	}
	&--bgslider{
		background-image: url(../images/slider-background-transparent.png);
		background-size: contain;
		padding: 2.2rem 1.3rem 2rem 3.6rem;
	}
	&--blue{
		color:var(--blue);
	}
	&--pink{
		color: var(--pink);
	}
	&--bigtitle{
		font-size: responsive 24px 30px;
	}
	&--norepeat{
		background-repeat: no-repeat;
	}
	&--welcome{
		display: block;
		font-family: 'Roboto';
		font-size: 18px;
		color:#000;
		text-transform: uppercase;
		padding-bottom: 1rem;
	}
}